# Unity specific
*.cs diff=csharp text
*.cginc text
*.shader text
*.meta text
*.fbx -crlf -diff -merge -text
*.asset merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.mat merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
*.mask merge=unityyamlmerge eol=lf
*.overrideController merge=unityyamlmerge eol=lf
*.mixer merge=unityyamlmerge eol=lf
*.playable merge=unityyamlmerge eol=lf
*.asset meta merge=unityyamlmerge eol=lf
*.GUISkin merge=unityyamlmerge eol=lf
*.flare merge=unityyamlmerge eol=lf
*.playable merge=unityyamlmerge eol=lf
*.ttf binary
*.otf binary
*.aac binary
*.aif binary
*.aiff binary
*.au binary
*.mid binary
*.midi binary
*.mp3 binary
*.mpa binary
*.ogg binary
*.wav binary
*.wma binary
*.3gp binary
*.asf binary
*.asx binary
*.avi binary
*.flv binary
*.m4v binary
*.mov binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.rm binary
*.swf binary
*.vob binary
*.wmv binary
*.dll binary
*.pdb binary
*.mdb binary
*.mdb.binary merge=binary
*.unitypackage binary
*.mat.meta binary
*.asset.meta binary
*.meta meta

# Large File Storage
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
